<%- include ("./head") %>
<body class="site-layout default-background">
  <main class="body-font text-white">

    <!-- parallax landscape -->
    <div id="default-scene">
      <img src="../images/parallax/background.svg" class="lax lax_preset_slideY:376:-590 mountains" alt="Mountains" ></img>
      <img src="../images/parallax/midground.svg" class="lax lax_preset_slideY:376:-610 hill" alt="Hills and Trees" ></img>
      <img src="../images/parallax/foreground.svg" class="lax lax_preset_slideY:376:-630 grassland" alt="Trees, Grassland, Bunny, and Bear"></img>
    </div>

    <!-- animated clouds -->
    <!-- <img class="cloud cloud-1" src="/images/cloud.svg" alt="Slow-moving animated cloud">
    <img class="cloud cloud-2" src="/images/cloud.svg" alt="Faster-moving animated cloud">
    <img class="cloud cloud-3" src="/images/cloud.svg" alt="Fastest moving animated cloud"> -->