<!DOCTYPE html>
<html>
	<head>
		<title>YelpCamp</title>
		<!-- FAVICON -->
		<link rel="icon" href="/stylesheets/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="/stylesheets/favicon.ico">
		<link rel="apple-touch-icon" sizes="180x180" href="/stylesheets/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/stylesheets/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/stylesheets/favicon-16x16.png">
		<link rel="manifest" href="/stylesheets/site.webmanifest">
		<!-- META TAGS -->
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://aqueous-reaches-28926.herokuapp.com">
		<meta property="og:title" content="YelpCamp">
		<meta property="og:site_name" content="YelpCamp">
		<meta property="og:image" content="/stylesheets/YelpCampMetaImage.png">
		<meta property="og:image:secure_url" content="https://aqueous-reaches-28926.herokuapp.com/stylesheets/YelpCampMetaImage.png">
		<meta property="og:image:type" content="image/png">
		<meta property="og:image:height" content="1364">
		<meta property="og:image:width" content="2436">
		<meta property="og:image:alt" content="Main title of the website: YelpCamp">
		<meta property="og:description" content="Upload your favorite campgrounds, rate the ones you've visited, and engage the community with comments. Click on each campground photo to learn more." name="description">
		<!-- BOOTSTRAP -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<!-- FONT AWESOME -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css2?family=Sriracha&family=Montserrat:ital,wght@0,400;0,600;1,400&family=Pacifico&display=swap" rel="stylesheet">
		<!-- CUSTOM CSS -->
		<link rel="stylesheet" href="/stylesheets/main.css">
		<!-- Enables greater cross-browser compatibility -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	</head>

	<body class="site">
		<main class="site-content body-font">
			<!-- NAVBAR -->
			<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" id="navbar">
				<a class="navbar-brand logo" href="/">YelpCamp</a>
				<a class="nav-link btn btn-outline-light" href="/campgrounds">Home</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ml-auto">
						<% if(!currentUser){ %>
						<li class="nav-item">
							<a class="nav-link btn btn-primary" href="/register">Sign Up</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn .btn-outline-primary" href="/login">Login</a>
						</li>
						<% } else { %>
						<li class="nav-item">
							<a class="nav-link btn .btn-outline-primary"><i class="fa fa-user add" aria-hidden="true"></i> <%= currentUser.username %></a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn .btn-outline-primary" href="/logout">Logout</a>
						</li>
						<% } %>
					</ul>
				</div>
			</nav>
			<!-- FLASH MESSAGES -->
			<div class="container">
				<% if(error && error.length > 0){ %> <!-- error.length > 0 checks to see if there is anything in the array. An empty array will still display something. We watnt to prevent that -->
					<!--message functionality comes from flash in app.js -->
					<div class="alert alert-danger" role="alert"><%= error %></div>
				<% } %>
				<% if(success && success.length > 0){ %>
					<div class="alert alert-success" role="alert"><%= success %></div>
				<% } %>
			</div>
	