<%- include ("../partials/header") %>

<div class="container">
	<div class="row">
			<div class="col-12 col-md-9 new-edit-forms">
				<h2 class="text-center title-font">Add Comment to <%= campground.name %> </h2>
				<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
					<!-- Note that the action="__" should equal the name of the post request url. -->
					<div class="form-group">
						<textarea class="form-control" type="text" name="comment[text]" placeholder="Share your thoughts!"></textarea>
					</div>
					<div class="form-group">
						<button class="btn btn-lg btn-block btn-success">Submit!</button>
					</div>
				</form>
				<a href="/campgrounds"><i class="fa fa-angle-left back" aria-hidden="true"></i> Back</a>
			</div>
	</div>

</div>

<%- include ("../partials/footer") %>