<%- include ("../partials/header") %>

<div class="container">
	<div class="row justify-content-center">
			<div class="col-12 col-md-9">
				
				<form class="new-edit-forms opaque-background needs-validation" action="/campgrounds/<%= campground._id %>/comments" method="POST">
					<!-- Note that the action="__" should equal the name of the post request url. -->
					
					<h2 class="text-center title-font">Add Comment to <%= campground.name %> </h2>
					
					<div class="form-group">
						<input class="form-control" type="textarea" name="comment[text]" placeholder="Share your thoughts!" required autofocus></input>
						<div class="valid-feedback"></div>
						<div class="invalid-feedback">
							What's the point of a comment without <em>something</em>?
						</div>
					</div>
					
					<div class="form-group mt-2">
						<button class="btn btn-lg btn-success btn-block form-control">Comment!</button>
					</div>
				
					<a href="/campgrounds" class="mr-4 btn btn-sm btn-success mt-4"><i class="fa fa-angle-left text-white" aria-hidden="true"></i> Back</a>
					
				</form>
			</div>
	</div>

</div>

<%- include ("../partials/footer") %>