<% include partials/header%>
<div class="container">
	<div class="row">
		<h1 style="text-align:center;"> Create a New Campground </h1>
	</div>
	<div class="row">
			<div style="width:30%; margin: 25px auto;">
				<form action="/campgrounds" method="POST">
					<div class="form-group">
						<input class="form-control" type="text" name="name" placeholder:"Campground Name">
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="image" placeholder:"Image URL">
					</div>
						<a class="btn btn-light btn-lg btn-block" role="button"> Submit </a>
					<div class="form-group">
						<a href="/campgrounds" class="form-control btn btn-light btn-block" role="button">All Campgrounds</a>
					</div>
				</form>
			</div>
	</div>
</div>

<% include partials/footer %>