<%- include ("partials/header") %>
<div>
	<div class="landing-header d-flex align-items-center flex-column mb-3">
		<img class="landing-svg" src="/stylesheets/landing.svg">
		<div>
 			<h1 class="logo-lg my-5 pb-3">YelpCamp</h1>
			<a href="/campgrounds" class="text-white white-link mt-2">View All Campgrounds</a>
		</div>
    </div>
</div>
<%- include ("partials/footer") %>