<%- include ("partials/header") %>
<div>
	<div class="landing-header d-flex align-items-center flex-column mb-3">
		<img class="landing-svg" src="/images/landing.svg" alt="Landing page background image">
		<div>
 			<h1 class="logo-lg my-5 pb-2">YelpCamp</h1>
			<a href="/campgrounds" class="btn light-wood title-font fs-4 text-white rounded-pill bounce">View All Campgrounds<i class="ms-2 fa fa-angle-right" aria-hidden="true"></i></a>
		</div>
    </div>
</div>
<%- include ("partials/footer") %>