<%- include ("partials/header") %>
<div>
	<div class="landing-header d-flex align-items-center flex-column mb-3">
 		<h1 class="logo-lg mb-5">YelpCamp</h1>
		<h4 class="title-font text-dark mb-3">Discover campgrounds from around the world</h4>
		<div>
			<a href="/campgrounds/new" class="btn btn-outline-dark btn-lg rounded-pill mr-4"><i class="fa fa-plus-circle white" aria-hidden="true"></i> New Campground</a>
			<a href="/campgrounds" class="btn btn-primary btn-lg rounded-pill">View All Campgrounds</a>
		</div>
    </div>
</div>
<%- include ("partials/footer") %>