<%- include ("partials/header") %>
<div>
	<div class="landing-header d-flex align-items-center flex-column mb-3">
 		<h1 class="logo-lg mb-5">YelpCamp</h1>
		<div>
			<a href="/campgrounds/new" class="btn btn-outline-success btn-lg mr-4"><i class="fa fa-plus-circle white" aria-hidden="true"></i> New Campground</a>
			<a href="/campgrounds" class="btn btn-success btn-lg">View All Campgrounds</a>
		</div>
    </div>
</div>
<%- include ("partials/footer") %>