<%- include ("partials/header") %>
<div class="container">
	<div class="row">
			<div class="login-container signup-login">
				
				<form class="form-signin needs-validation" novalidate action="/login" method="POST">
					
					<h1 class="text-center title-font">Welcome Back</h1>
					
					<div class="form-label-group">
						<input id="inputUsername" class="form-control <% if(error.length > 0) { %> is-invalid <% } %>" type="text" name="username" placeholder="Happy Camper" required autofocus>
						<label for="inputUsername">Username</label>
						<div class="valid-feedback"></div>
						<% if(error.length > 0) { %>
						<div class="invalid-feedback">
							<%= error %>
						</div>
						<% } else { %>
						<div class="invalid-feedback">
							Please provide username.
						</div>
						<% } %>
					</div>
					
					<div class="form-label-group">
						<input id="inputPassword" class="form-control <% if(error.length > 0) { %> is-invalid <% } %>" type="password" name="password" placeholder="Super secret..." required></input>
						<label for="inputPassword">Password</label>
						<div class="valid-feedback"></div>
						<% if(error.length > 0) { %>
						<div class="invalid-feedback">
							<%= error %>
						</div>
						<% } else { %>
						<div class="invalid-feedback">
							Please provide password.
						</div>
						<% } %>
					</div>
				
					<div class="form-label-group">
						<button type="submit" class="btn btn-lg btn-block btn-success form-control">Login</button>
					</div>
				
					<p class="d-flex justify-content-between"><a href="/" class="mr-4 btn btn-success"><i class="fa fa-angle-left text-white" aria-hidden="true"></i> Back</a><a href="/register" class="btn btn-success">Register</a></p>
				</form>
			</div>
	</div>

</div>
<%- include ("partials/footer") %>