<%- include ("partials/header") %>
<div class="container">
	<div class="row">
			<div class="login-container signup-login">
				
				<form class="form-signin needs-validation" novalidate action="/register" method="POST">
					
					<h1 class="text-center title-font">Join the Community</h1>
					
					<div class="form-label-group">
						<input id="inputUsername" class="form-control <% if(error.length > 0) { %> is-invalid <% } %>" type="text" name="username" placeholder="Happy Camper" required autofocus>
						<label for="inputUsername">Username</label>
						<div class="valid-feedback">Nice to meet you!</div>
						<% if(error.length > 0) { %>
						<div class="invalid-feedback">
							<%= error %>
						</div>
						<% } else { %>
						<div class="invalid-feedback">
							Please provide username.
						</div>
						<% } %>
					</div>
					
					<div class="form-label-group">
						<input id="inputPassword" class="form-control" type="password" name="password" placeholder="Super secret..." required></input>
						<label for="inputPassword">Password</label>
						<div class="valid-feedback">Even Alan Turing can't crack your password</div>
						<div class="invalid-feedback">
							Please provide password.
						</div>
					</div>
				
					<button class="btn btn-sm btn-outline-success mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
						Optional
  					</button>
					<div class="collapse" id="collapseExample">
						<div class="form-label-group">
						<input id="inputEmail" class="form-control" type="email" name="email" placeholder="(optional) happycamper@gmail.com">
						<label for="inputEmail">Email</label>
					</div>
				
					<div class="form-label-group">
						<label for="adminCode">Admin Code</label>
						<input class="form-control" type="text" name="adminCode" placeholder="Enter only if you have it"></input>
					</div>
					</div>
		
					<div class="form-label-group">
						<button type="submit" class="btn btn-lg btn-block wood-background-btn title-font text-white w-100">Register</button>
					</div>
		
					<p class="d-flex justify-content-between"><a href="/" class="mr-4 btn wood-background-btn text-white title-font"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a><a href="/login" class="btn wood-background-btn text-white title-font">Login</a></p>
				</form>
			</div>
	</div>

</div>
<%- include ("partials/footer") %>