<%- include ("partials/default-main") %>
<div class="container">
	<div class="row">
			<div class="login-container signup-login">
				<div class="park-sign-svg park-sign-size-for-login-and-register p-5">
					<form class="form-signin needs-validation mt-4" novalidate action="/register" method="POST">
						
						<div class="form-label-group fs-4">
							<input id="inputUsername" class="form-control fs-4 <% if(error.length > 0) { %> is-invalid <% } %>" type="text" name="username" placeholder="Happy Camper" required autofocus />
							<label for="inputUsername">Username</label>
							<div class="valid-feedback">Nice to meet you!</div>
							<% if(error.length > 0) { %>
							<div class="invalid-feedback">
								<%= error %>
							</div>
							<% } else { %>
							<div class="invalid-feedback">
								Please provide username.
							</div>
							<% } %>
						</div>
						
						<div class="form-label-group fs-4 mt-4">
							<input id="inputPassword" class="form-control fs-4" type="password" name="password" placeholder="Super secret..." required />
							<label for="inputPassword">Password</label>
							<div class="valid-feedback">Even Alan Turing can't crack your password</div>
							<div class="invalid-feedback">
								Please provide password.
							</div>
						</div>
					
						<!-- Uncomment below when you want to create admin account
						Express.js doesn't come with an admin portal like Django does -->

						<!-- <button class="btn btn-sm btn-success mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
							Optional
							</button>
						<div class="collapse" id="collapseExample">
							<div class="form-label-group">
								<label for="adminCode">Admin Code</label>
								<input class="form-control" type="text" name="adminCode" placeholder="Enter only if you have it" />
							</div>
						</div> -->
			
						<div class="form-label-group text-center mt-5">
							<button type="submit" class="btn btn-lg light-brown rounded-pill title-font fs-4 text-white w-75">Register</button>
						</div>
					</form>
				</div>
			</div>
	</div>

</div>
<%- include ("partials/footer") %>